<!-- 
  Authors : cosonas (Rahul Jograna)
  Website : https://cosonas.com/
  App Name : Bunitas Management Full App Flutter
  This App Template Source code is licensed as per the
  terms found in the Website https://cosonas.com/license
  Copyright and Good Faith Purchasers © 2022-present cosonas.
 -->
<!--<c-footer>-->
<div>
  <a href="https://codecanyon.net/user/cosonas/portfolio" target="_blank">Cosonas</a>
  <span> &copy; {{date}} cosonas</span>
</div>
<div class="ms-auto">
  {{util.translate('Powered by')}}
  <a href="https://codecanyon.net/user/cosonas/portfolio" target="_blank">
    <span> Cosonas</span>
  </a>
</div>
<!--</c-footer>-->