<!-- 
  Authors : cosonas (Rahul Jograna)
  Website : https://cosonas.com/
  App Name : Bunitas Management Full App Flutter
  This App Template Source code is licensed as per the
  terms found in the Website https://cosonas.com/license
  Copyright and Good Faith Purchasers © 2022-present cosonas.
 -->
<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-4">
      <div class="card">
        <div class="card-header">
          {{util.translate('Treatment Types')}}
        </div>
        <div class="card-body">
          <div class="logoContainer">
            <img [src]="api.imageUrl+ cover" onError="this.src='assets/img/dummy.jpeg'">
          </div>
          <div class="fileContainer sprite">
            <span> {{util.translate('Add Cover')}} </span>
            <input (change)="preview_banner($event.target.files)" type="file" value="Choose File">
          </div>
          <p class="text-heler">
            {{util.translate('Files types accepted: .jpg, .jpeg, .png, .bmp recommended size (512 X 512) pixels')}} </p>
          <form>
            <div class="form-group">
              <label class="modal_lbl">{{util.translate('Type Name')}}</label>
              <input class="form-control" [(ngModel)]="name" [ngModelOptions]="{standalone: true}"
                [placeholder]="util.translate('Type Name')">
            </div>
          </form>
          <br>
          <div class="col-lg-12">
            <div class="form-group">
                <label class="form-control-label" for="input-username"> {{util.translate("Treatment")}}
                </label>
                <select id="select2" [(ngModel)]="treatmentId" name="select2"
                    class="form-control form-control-alternative">
                    <option [value]="item.id" *ngFor="let item of treatments"> {{item.name}} </option>
                </select>
            </div>
          </div>
          <button type="button" class="btn btn-success" *ngIf="this.action == 'create'" (click)="createType()">
            {{util.translate('Save')}}</button>
          <button type="button" class="btn btn btn-primary" *ngIf="this.action == 'update'" (click)="updateType()">
            {{util.translate('Update')}}</button>

        </div>
      </div>
    </div>
    <div class="col-lg-8">
      <div class="card">
        <div class="card-header">
          {{util.translate('All Treatment Types')}}
        </div>
        <div class="card-body">

          <div class="row flex_row">
            <div class="col-lg-12">
              <input type="text" class="form-control" id="name" [placeholder]="util.translate('Search Type')"
                (input)="search($event.target.value)">
            </div>
          </div>

          <div class="error_div" *ngIf="list?.length <= 0 && dummy?.length <= 0">
            <label>{{util.translate('No Data Found..')}}</label>
          </div>

          <table class="table table-responsive-sm table-hover mb-0">
            <thead *ngIf="list?.length > 0">
              <tr>
                <th>{{util.translate('Cover')}}</th>
                <th>{{util.translate('Treatment Name')}}</th>
                <th [class.sort-asc]="sort['name'] == 'asc'" [class.sort-desc]="sort['name'] == 'desc'"><a (click)="sortOn('name')" style="cursor: pointer;">{{util.translate('Treatment Type Name')}}</a></th>
                <th>{{util.translate('Action')}}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of dummy">
                <td *ngFor="let item of [1,2,3,4]">
                  <ngx-skeleton-loader count="1" appearance="line"></ngx-skeleton-loader>
                </td>
              </tr>
              <tr *ngFor="let item of list | paginate: {id:'pagin1', itemsPerPage: itemsPerPage, currentPage: page }">
                <td>
                  <img class="img-responsive" style="height: 40px;width: 40px; object-fit: cover;"
                    [src]="api.imageUrl + item.cover" onError="this.src='assets/img/dummy.jpeg'">
                </td>
                <td>{{item.parent.name}}</td>
                <td>{{item.name}}</td>
                <td>
                  <c-badge [color]="item.status == 1?'success':'dark'"
                    [class]="item.status == 1 ? 'me-1 badge bg-success':'me-1 badge bg-dark'"
                    (click)="statusUpdate(item)">
                    {{item.status == 1 ?util.translate('Active'):util.translate('Deactived')}}
                  </c-badge>

                  <c-badge color="info" class="me-1 badge bg-info" (click)="updateInfo(item.id)">
                    {{ util.translate('View')}}
                  </c-badge>

                  <c-badge color="danger" class="me-1 badge bg-danger" (click)="deleteItem(item)">
                    {{ util.translate('Delete')}}
                  </c-badge>

                </td>
              </tr>
            </tbody>
          </table>

          <div class="table-tools" *ngIf="list?.length > 0" >
            <div class="table-pagination">
              <pagination-controls  class="custom-pagination" id="pagin1" (pageChange)="page = $event"></pagination-controls>
              <input class="form-control page-number" [(ngModel)]="page" [ngModelOptions]="{standalone: true}"
                [placeholder]="util.translate('Page')">
            </div>
            <select id="view_count" [(ngModel)]="itemsPerPage" name="view_count" class="form-select ng-valid ng-dirty ng-touched view-count ">
                <option value="10" selected>10</option>
                <option value="20">20</option>
                <option value="50">50</option>
            </select>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>