<!-- 
  Authors : cosonas (Rahul Jograna)
  Website : https://cosonas.com/
  App Name : Bunitas Management Full App Flutter
  This App Template Source code is licensed as per the
  terms found in the Website https://cosonas.com/license
  Copyright and Good Faith Purchasers © 2022-present cosonas.
 -->
<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-4">
            <div class="card">
                <div class="card-header">
                    {{util.translate('Banner Information')}}
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="logoContainer">
                                <img [src]="api.imageUrl+ cover" onError="this.src='assets/img/dummy.jpeg'">
                            </div>
                            <div class="fileContainer sprite">
                                <span> {{util.translate('Add Cover')}} </span>
                                <input (change)="preview_banner($event.target.files)" type="file" value="Choose File">
                            </div>

                        </div>
                        <div class="col-lg-12 mt-2">
                            <div class="form-group">
                                <label class="form-control-label" for="input-email"> {{util.translate('Type')}} </label>
                                <select id="select2" [(ngModel)]="type" name="select2"
                                    class="form-control form-control-alternative" placeholder="City">
                                    <option [value]="0">{{util.translate('Category')}}</option>
                                    <option [value]="1">{{util.translate('Individual')}}</option>
                                    <option [value]="2">{{util.translate('Salon')}}</option>
                                    <option [value]="3">{{util.translate('Product Category')}}</option>
                                    <option [value]="4">{{util.translate('Products')}}</option>
                                    <option [value]="5">{{util.translate('External Link')}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="form-group" *ngIf="type == 0">
                                <label class="modal_lbl">{{util.translate('Search category')}}</label>
                                <input type="text" [(ngModel)]="search" (input)="searchCate($event.target.value)"
                                    class="form-control" [placeholder]="util.translate('Search category')"
                                    [ngModelOptions]="{standalone: true}">
                                <div *ngFor="let item of categories" (click)="selectCate(item)">
                                    <div class="selectItem">
                                        <img [src]="api.imageUrl+item.cover" alt="" class="imgs">
                                        <p class="name"> {{item.id}} - {{item.name}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="form-group" *ngIf="type == 1">
                                <label class="modal_lbl">{{util.translate('Search individual')}}</label>
                                <input type="text" [(ngModel)]="search" (input)="searchIndividual($event.target.value)"
                                    class="form-control" [placeholder]="util.translate('Search individual')"
                                    [ngModelOptions]="{standalone: true}">
                                <div *ngFor="let item of individuals" (click)="selectIndividual(item)">
                                    <div class="selectItem">
                                        <img [src]="api.imageUrl+item.cover" alt="" class="imgs">
                                        <p class="name"> {{item.id}} {{item.first_name}} {{item.last_name}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="form-group" *ngIf="type == 2">
                                <label class="modal_lbl">{{util.translate('Search salon')}}</label>
                                <input type="text" [(ngModel)]="search" (input)="searchSalon($event.target.value)"
                                    class="form-control" [placeholder]="util.translate('Search salon')"
                                    [ngModelOptions]="{standalone: true}">
                                <div *ngFor="let item of salons" (click)="selectSalon(item)">
                                    <div class="selectItem">
                                        <img [src]="api.imageUrl+item.cover" alt="" class="imgs">
                                        <p class="name"> {{item.id}} {{item.name}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="form-group" *ngIf="type == 3">
                                <label class="modal_lbl">{{util.translate('Search product category')}}</label>
                                <input type="text" [(ngModel)]="search"
                                    (input)="searchProductCategory($event.target.value)" class="form-control"
                                    [placeholder]="util.translate('Search product category')"
                                    [ngModelOptions]="{standalone: true}">
                                <div *ngFor="let item of productCategories" (click)="selectProductCategory(item)">
                                    <div class="selectItem">
                                        <img [src]="api.imageUrl+item.cover" alt="" class="imgs">
                                        <p class="name"> {{item.id}} {{item.name}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="form-group" *ngIf="type == 4">
                                <label class="modal_lbl">{{util.translate('Search product')}}</label>
                                <input type="text" [(ngModel)]="search" (input)="searchProduct($event.target.value)"
                                    class="form-control" [placeholder]="util.translate('Search product')"
                                    [ngModelOptions]="{standalone: true}">
                                <div *ngFor="let item of products" (click)="selectProduct(item)">
                                    <div class="selectItem">
                                        <img [src]="api.imageUrl+item.cover" alt="" class="imgs">
                                        <p class="name"> {{item.id}} {{item.name}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="form-group" *ngIf="type == 5">
                                <label class="modal_lbl">{{util.translate('External Link URL')}}</label>
                                <input type="url" [(ngModel)]="link" class="form-control"
                                    [placeholder]="util.translate('External Link URL')"
                                    [ngModelOptions]="{standalone: true}">
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="form-group">
                                <label class="modal_lbl">{{util.translate('Operating City')}}</label>
                                <select class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="cityId">
                                    <option [value]="item.id" *ngFor="let item of cities">{{item.name}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="modal_lbl">{{util.translate('Start Date')}}</label>
                                <input type="date" [(ngModel)]="from" class="form-control"
                                    [placeholder]="util.translate('Start Date')" [ngModelOptions]="{standalone: true}">
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="modal_lbl">{{util.translate('End Date')}}</label>
                                <input type="date" [(ngModel)]="to" class="form-control"
                                    [placeholder]="util.translate('End Date')" [ngModelOptions]="{standalone: true}">
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="form-group">
                                <label class="modal_lbl">{{util.translate('Message')}}</label>
                                <textarea type="url" [(ngModel)]="message" class="form-control"
                                    [placeholder]="util.translate('Message')" rows="4"
                                    [ngModelOptions]="{standalone: true}"></textarea>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="form-group">
                                <div class="d-flex justify-content-start">
                                    <button *ngIf="action=='create'" type="button" class="btn btn-success"
                                        (click)="createCategory()">
                                        <span> {{util.translate("Save")}} </span>
                                    </button>
                                    <button *ngIf="action =='update'" type="button" class="btn btn-success"
                                        (click)="updateCategory()">
                                        <span> {{util.translate("Update")}} </span>
                                    </button>
                                    <button type="button" class="btn btn-secondary"
                                        (click)="clearData()">{{util.translate("Clear")}} </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="card">
                <div class="card-header">
                    {{util.translate('All Banner')}}
                </div>
                <div class="card-body">

                    <div class="row flex_row">
                        <div class="col-lg-12">
                            <input type="text" class="form-control form-control-lg" id="name"
                                [placeholder]="util.translate('Search Banner')" (input)="search($event.target.value)">
                        </div>
                    </div>

                    <div class="error_div" *ngIf="list?.length <= 0 && dummy?.length <= 0">
                        <label>{{util.translate('No Data Found..')}}</label>
                    </div>

                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">{{util.translate('Id')}} </th>
                                <th scope="col">{{util.translate("Cover")}} </th>
                                <th scope="col">{{util.translate("Type")}} </th>
                                <th scope="col">{{util.translate("Value")}} </th>
                                <th scope="col">{{util.translate("Action")}} </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of dummy">
                                <td *ngFor="let item of [1,2,3,4,5]">
                                    <ngx-skeleton-loader count="1" appearance="line"></ngx-skeleton-loader>
                                </td>
                            </tr>
                            <tr
                                *ngFor="let item of list | paginate: {id:'pagin1', itemsPerPage: itemsPerPage, currentPage: page };let i = index;">
                                <th scope="row">
                                    {{item.id}}
                                </th>
                                <td>
                                    <img class="img-responsive" style="height: 40px;width: 40px; object-fit: cover;"
                                        [src]="api.imageUrl + item.cover" onError="this.src='assets/img/dummy.jpeg'">
                                </td>
                                <td>
                                    <span *ngIf="item.type == 0"> {{util.translate("Category")}} </span>
                                    <span *ngIf="item.type == 1"> {{util.translate("Individual")}} </span>
                                    <span *ngIf="item.type == 2"> {{util.translate("Salon")}} </span>
                                    <span *ngIf="item.type == 3"> {{util.translate("Product Category")}} </span>
                                    <span *ngIf="item.type == 4"> {{util.translate("Product")}} </span>
                                    <span *ngIf="item.type == 5"> {{util.translate("External Link")}} </span>
                                </td>
                                <td>
                                    <span *ngIf="item.type == 0"> {{item.cateInfo.name}} </span>
                                    <span *ngIf="item.type == 1"> {{item.individualInfo.first_name +' '+
                                        item.individualInfo.last_name}}</span>
                                    <span *ngIf="item.type == 2"> {{item.salonInfo.name}} </span>
                                    <span *ngIf="item.type == 3"> {{item.categoryInfo.name}} </span>
                                    <span *ngIf="item.type == 4"> {{item.productInfo.name}} </span>
                                    <span *ngIf="item.type == 5"> {{item.value}}</span>
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <c-badge [color]="item.status == 1?'success':'dark'"
                                            [class]="item.status == 1 ? 'me-1 badge bg-success':'me-1 badge bg-dark'"
                                            (click)="statusUpdate(item)">
                                            {{item.status == 1 ?util.translate('Active'):util.translate('Deactived')}}
                                        </c-badge>

                                        <c-badge color="info" class="me-1 badge bg-info" (click)="updateInfo(item.id)">
                                            {{ util.translate('View')}}
                                        </c-badge>

                                        <c-badge color="danger" class="me-1 badge bg-danger" (click)="deleteItem(item)">
                                            {{ util.translate('Delete')}}
                                        </c-badge>

                                    </div>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                    <div class="table-tools" *ngIf="list?.length > 0" >
                        <div class="table-pagination">
                          <pagination-controls  class="custom-pagination" id="pagin1" (pageChange)="page = $event"></pagination-controls>
                          <input class="form-control page-number" [(ngModel)]="page" [ngModelOptions]="{standalone: true}"
                            [placeholder]="util.translate('Page')">
                        </div>
                        <select id="view_count" [(ngModel)]="itemsPerPage" name="view_count" class="form-select ng-valid ng-dirty ng-touched view-count ">
                            <option value="10" selected>10</option>
                            <option value="20">20</option>
                            <option value="50">50</option>
                        </select>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>