<!-- 
  Authors : cosonas (Rahul Jograna)
  Website : https://cosonas.com/
  App Name : Bunitas Management Full App Flutter
  This App Template Source code is licensed as per the
  terms found in the Website https://cosonas.com/license
  Copyright and Good Faith Purchasers © 2022-present cosonas.
 -->
<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
<div class="animated fadeIn">
    <div class="row">

        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    {{util.translate('All Products')}}
                </div>
                <div class="card-body">

                    <div class="error_div" *ngIf="list?.length <= 0 && dummy?.length <= 0">
                        <label>{{util.translate('No Data Found..')}}</label>
                    </div>

                    <table class="table table-responsive-sm table-hover mb-0">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">{{util.translate('Id')}}</th>
                                <th scope="col">{{util.translate('Cover')}}</th>
                                <th scope="col" [class.sort-asc]="sort['name'] == 'asc'" [class.sort-desc]="sort['name'] == 'desc'"><a (click)="sortOn('name')" style="cursor: pointer;">{{util.translate('Name')}}</a></th>
                                <th scope="col" [class.sort-asc]="sort['first_name'] == 'asc'" [class.sort-desc]="sort['first_name'] == 'desc'"><a (click)="sortOn('first_name')" style="cursor: pointer;">{{util.translate('Freelancer')}}</a></th>
                                <th scope="col" [class.sort-asc]="sort['rating'] == 'asc'" [class.sort-desc]="sort['rating'] == 'desc'"><a (click)="sortOn('rating')" style="cursor: pointer;">{{util.translate('Rating')}}</a></th>
                                <th scope="col">{{util.translate('Action')}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of dummy">
                                <td *ngFor="let item of [1,2,3,4,1,2,3,4,5,5,6]">
                                    <ngx-skeleton-loader count="1" appearance="line"></ngx-skeleton-loader>
                                </td>
                            </tr>
                            <tr
                                *ngFor="let item of list | paginate: {id:'pagin1', itemsPerPage: itemsPerPage, currentPage: page }">
                                <th scope="row">
                                    {{item.id}}
                                </th>
                                <td>
                                    <img class="img-responsive" style="height: 40px;width: 40px; object-fit: cover;"
                                        [src]="api.imageUrl + item.cover" onError="this.src='assets/img/dummy.jpeg'">
                                </td>
                                <td>
                                    {{item.name}}
                                </td>
                                <td>
                                    {{item.first_name +' '+ item.last_name}}
                                </td>

                                <td> {{item.rating}} ({{item.total_rating}}) </td>

                                <td>
                                    <div class="d-flex align-items-center">
                                        <c-badge [color]="item.status == 1?'success':'dark'"
                                            [class]="item.status == 1 ? 'me-1 badge bg-success':'me-1 badge bg-dark'"
                                            (click)="statusUpdate(item)">
                                            {{item.status == 1 ?util.translate('Active'):util.translate('Deactived')}}
                                        </c-badge>

                                        <c-badge color="danger" class="me-1 badge bg-danger" (click)="deleteItem(item)">
                                            {{ util.translate('Delete')}}
                                        </c-badge>

                                    </div>
                                </td>
                            </tr>

                        </tbody>
                    </table>

                    <div class="table-tools" *ngIf="list?.length > 0" >
                        <div class="table-pagination">
                          <pagination-controls  class="custom-pagination" id="pagin1" (pageChange)="page = $event"></pagination-controls>
                          <input class="form-control page-number" [(ngModel)]="page" [ngModelOptions]="{standalone: true}"
                            [placeholder]="util.translate('Page')">
                        </div>
                        <select id="view_count" [(ngModel)]="itemsPerPage" name="view_count" class="form-select ng-valid ng-dirty ng-touched view-count ">
                            <option value="10" selected>10</option>
                            <option value="20">20</option>
                            <option value="50">50</option>
                        </select>
                      </div>

                </div>
            </div>
        </div>
    </div>
</div>