<!-- 
  Authors : cosonas (Rahul Jograna)
  Website : https://cosonas.com/
  App Name : Bunitas Management Full App Flutter
  This App Template Source code is licensed as per the
  terms found in the Website https://cosonas.com/license
  Copyright and Good Faith Purchasers © 2022-present cosonas.
 -->
<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
<div class="animated fadeIn">
    <div class="row">

        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    {{util.translate('All Partners')}}
                    <div class="card-header-actions">
                        <button type="submit" class="btn btn-sm btn-primary" style="float: right;margin: 0px 5px;"
                            (click)="createNew()">
                            {{util.translate('Add New')}}
                        </button> &nbsp;
                    </div>
                </div>
                <div class="card-body">

                    <div class="error_div" *ngIf="salons?.length <= 0 && dummySalons?.length <= 0">
                        <label>{{util.translate('No Data Found..')}}</label>
                    </div>

                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">{{util.translate('Id')}} </th>
                                <th scope="col">{{util.translate('Cover')}} </th>
                                <th [class.sort-asc]="sort['name'] == 'asc'" [class.sort-desc]="sort['name'] == 'desc'"><a (click)="sortOn('name')" style="cursor: pointer;">{{util.translate('Name')}} </a></th>
                                <th scope="col">{{util.translate('City')}} </th>
                                <th scope="col">{{util.translate('Categories')}} </th>
                                <th scope="col">{{util.translate('Rating')}} </th>
                                <th scope="col">{{util.translate('Have Shop')}} </th>
                                <th scope="col">{{util.translate('Have Stylist')}} </th>
                                <th scope="col">{{util.translate('Service At Home')}} </th>
                                <th scope="col">{{util.translate('In Home')}} </th>
                                <th scope="col">{{util.translate('Is Popular')}} </th>
                                <th scope="col">{{util.translate('Id Card')}}</th>
                                <th scope="col">{{util.translate('Qualification')}}</th>
                                <th scope="col">{{util.translate('Action')}} </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of dummySalons">
                                <td *ngFor="let item of [1,2,3,4,5,6,7,8,9,10,11,12,13,14]">
                                    <ngx-skeleton-loader count="1" appearance="line"></ngx-skeleton-loader>
                                </td>
                            </tr>
                            <tr
                                *ngFor="let item of salons | paginate: {id:'pagin1', itemsPerPage: itemsPerPage, currentPage: page };let i = index;">
                                <th scope="row">
                                    {{item.id}}
                                </th>
                                <td>
                                    <img class="img-responsive" style="height: 40px;width: 40px; object-fit: cover;"
                                        [src]="api.imageUrl + item.cover" onError="this.src='assets/img/dummy.jpeg'">
                                </td>
                                <td>
                                    {{item.name}}
                                </td>
                                <td>
                                    {{item && item.city_data && item.city_data.name && item.city_data.name !=null ?
                                    item.city_data.name :''}}
                                </td>
                                <td>
                                    <div style="width: 100px;display: flex;flex-direction: column;overflow: scroll;">
                                        <span *ngFor="let cate of item.web_cates_data;let cateIndex = index">
                                            <p style="font-size: 10px;margin: 0px;"> {{cate.name}} <span
                                                    *ngIf="cateIndex !=item.web_cates_data.length - 1">,</span></p>

                                        </span>
                                    </div>
                                </td>
                                <td> {{item.rating}} / {{item.total_rating}} </td>
                                <td>
                                    <c-form-check [switch]="true">
                                        <input cFormCheckInput type="checkbox"
                                            [checked]="item.have_shop == 1? true:false" (change)="changeShop(item)" />
                                    </c-form-check>
                                </td>
                                <td>
                                    <c-form-check [switch]="true">
                                        <input cFormCheckInput type="checkbox"
                                            [checked]="item.have_stylist == 1? true:false"
                                            (change)="changeStylist(item)" />
                                    </c-form-check>
                                </td>
                                <td>
                                    <c-form-check [switch]="true">
                                        <input cFormCheckInput type="checkbox"
                                            [checked]="item.service_at_home == 1? true:false"
                                            (change)="changeServiceAtHome(item)" />
                                    </c-form-check>
                                </td>
                                <td>
                                    <c-form-check [switch]="true">
                                        <input cFormCheckInput type="checkbox" [checked]="item.in_home == 1? true:false"
                                            (change)="changeHome(item)" />
                                    </c-form-check>
                                </td>
                                <td>
                                    <c-form-check [switch]="true">
                                        <input cFormCheckInput type="checkbox" [checked]="item.popular == 1? true:false"
                                            (change)="changePopular(item)" />
                                    </c-form-check>
                                </td>
                                <td>
                                    <img class="img-responsive" style="height: 60px;width: 60px; object-fit: cover;" 
                                        [src]="this.api.imageUrl + item.id_card" onError="this.src='assets/img/dummy.jpeg'" (click)="clickZoom(this.api.imageUrl + item.id_card, 0)"/>
                                </td>
                                <td>
                                    <img class="img-responsive" style="height: 60px;width: 60px; object-fit: cover;" 
                                        [src]="this.api.imageUrl + item.qualification" onError="this.src='assets/img/dummy.jpeg'"  (click)="clickZoom(this.api.imageUrl + item.qualification, 1)"/>
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <c-badge [color]="item.status == 1?'success':'dark'"
                                            [class]="item.status == 1 ? 'me-1 badge bg-success':'me-1 badge bg-dark'"
                                            (click)="statusUpdate(item)">
                                            {{item.status == 1 ?util.translate('Active'):util.translate('Deactived')}}
                                        </c-badge>

                                        <c-badge color="info" class="me-1 badge bg-info"
                                            (click)="updateInfo(item.id,item.uid)">
                                            {{ util.translate('Edit')}}
                                        </c-badge>

                                        <c-badge color="danger" class="me-1 badge bg-danger" (click)="deleteItem(item)">
                                            {{ util.translate('Delete')}}
                                        </c-badge>

                                    </div>
                                </td>
                            </tr>

                        </tbody>
                    </table>

                    <div class="table-tools" *ngIf="salons?.length > 0" >
                        <div class="table-pagination">
                          <pagination-controls  class="custom-pagination" id="pagin1" (pageChange)="page = $event"></pagination-controls>
                          <input class="form-control page-number" [(ngModel)]="page" [ngModelOptions]="{standalone: true}"
                            [placeholder]="util.translate('Page')">
                        </div>
                        <select id="view_count" [(ngModel)]="itemsPerPage" name="view_count" class="form-select ng-valid ng-dirty ng-touched view-count ">
                            <option value="10" selected>10</option>
                            <option value="20">20</option>
                            <option value="50">50</option>
                        </select>
                      </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div bsModal #myModal2="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-primary modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{util.translate('Manage Partner')}} </h5>
                <button type="button" class="close" (click)="myModal2.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="logoContainer">
                    <img [src]="api.imageUrl+ cover" onError="this.src='assets/img/dummy.jpeg'">
                </div>
                <div class="fileContainer sprite">
                    <span> {{util.translate('Add Cover')}} </span>
                    <input (change)="preview_banner($event.target.files)" type="file" value="Choose File">
                </div>
                <div class="center-data-helper mb-5">

                </div>
                <div class="card card-profile shadow">
                    <div class="card-header text-center border-0" *ngIf="action =='create'">
                        <div class="d-flex justify-content-start">
                            <h4>{{util.translate("Owner Details")}} </h4>
                        </div>
                    </div>
                    <div class="card-body" *ngIf="action =='create'">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <div class="input-group input-group-alternative">
                                        <input type="text" id="input-first-name"
                                            class="form-control form-control-alternative"
                                            [placeholder]="util.translate('First Name')" [(ngModel)]="firstName">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <div class="input-group input-group-alternative">
                                        <input type="text" id="input-last-name"
                                            class="form-control form-control-alternative"
                                            [placeholder]="util.translate('Last Name')" [(ngModel)]="lastName">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" *ngIf="action =='create'">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <div class="input-group input-group-alternative">
                                        <input type="email" id="input-first-name"
                                            class="form-control form-control-alternative"
                                            [placeholder]="util.translate('Email')" [(ngModel)]="email">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <div class="input-group input-group-alternative">
                                        <input type="password" id="input-last-name"
                                            class="form-control form-control-alternative"
                                            [placeholder]="util.translate('Password')" [(ngModel)]="password">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" *ngIf="action =='create'">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <div class="input-group input-group-alternative">
                                        <input type="text" id="input-first-name"
                                            class="form-control form-control-alternative"
                                            [placeholder]="util.translate('Country Code')" [(ngModel)]="country_code">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <div class="input-group input-group-alternative">
                                        <input type="number" id="input-last-name"
                                            class="form-control form-control-alternative"
                                            [placeholder]="util.translate('Mobile')" [(ngModel)]="mobile">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" *ngIf="action =='create'">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <select id="select2" [(ngModel)]="gender" name="select2"
                                        class="form-control form-control-alternative">
                                        <option value="1"> {{util.translate('Male')}} </option>
                                        <option value="0"> {{util.translate('Female')}} </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-header text-center border-0">
                        <div class="d-flex justify-content-start">
                            <h4>{{util.translate('Partner Details')}} </h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <ng-multiselect-dropdown [placeholder]="util.translate('Top Category')"
                                        maxHeight="100" [data]="categories" [(ngModel)]="selectedItems"
                                        [settings]="dropdownSettings">
                                    </ng-multiselect-dropdown>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="form-group">
                                    <div class="input-group input-group-alternative">
                                        <input type="text" id="input-last-name"
                                            class="form-control form-control-alternative"
                                            [placeholder]="util.translate('Partner Name')" [(ngModel)]="name">
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="form-group">
                                    <div class="input-group input-group-alternative">
                                        <textarea class="form-control form-control-alternative" rows="3"
                                            [(ngModel)]="about"
                                            [placeholder]="util.translate('Brief of salon')"></textarea>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="form-group">
                                    <div class="input-group input-group-alternative">
                                        <textarea class="form-control form-control-alternative" rows="3"
                                            [(ngModel)]="address"
                                            [placeholder]="util.translate('Partner Address')"></textarea>
                                    </div>
                                </div>
                            </div>



                            <div class="col-lg-6">
                                <div class="form-group">
                                    <select id="select2" [(ngModel)]="cityID" name="select2"
                                        class="form-control form-control-alternative" placeholder="City">
                                        <option [value]="item.id" *ngFor="let item of cities"> {{item.name}} </option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="form-group">
                                    <div class="input-group input-group-alternative">
                                        <input type="text" id="input-last-name"
                                            class="form-control form-control-alternative"
                                            [placeholder]="util.translate('Zipcode')" [(ngModel)]="zipcode">
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="form-group">
                                    <div class="input-group input-group-alternative">
                                        <input type="number" id="input-last-name"
                                            class="form-control form-control-alternative"
                                            [placeholder]="util.translate('Commission Rate')" [(ngModel)]="rate">
                                    </div>
                                </div>
                            </div>

                            <div class="center-data-helper">
                                <p class="text-heler">{{util.translate('Select Latitude')}} &amp;
                                    {{util.translate('Longitude From here')}}:
                                    <a href="https://www.mapcoordinates.net/en" target="_blank"
                                        rel="noopener noreferrer"
                                        style="color: blue !important;">https://www.mapcoordinates.net/en</a>
                                </p>

                                <p class="text-heler"> {{util.translate('Please enter valid Latitude')}} &amp;
                                    {{util.translate('Longitude otherwise app may not work properly.')}}
                                </p>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-email">{{util.translate('Latitude')}}
                                    </label>
                                    <input type="text" id="input-email" class="form-control form-control-alternative"
                                        [placeholder]="util.translate('Latitude')" [(ngModel)]="lat">
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-email">{{util.translate('Longitude')}}
                                    </label>
                                    <input type="text" id="input-email" class="form-control form-control-alternative"
                                        [placeholder]="util.translate('Longitude')" [(ngModel)]="lng">
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-email">{{util.translate('Policy')}}
                                    </label>
                                    <textarea class="form-control form-control-alternative" rows="3"
                                        [(ngModel)]="policy"></textarea>
                                </div>
                            </div>

                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-email">
                                        {{util.translate('Have Multiple Stylist?')}} </label>
                                    <br>
                                    <c-form-check [switch]="true">
                                        <input cFormCheckInput type="checkbox" [(ngModel)]="have_stylist"
                                            [checked]="have_stylist == 1? true:false" />
                                    </c-form-check>
                                </div>
                            </div>

                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-email">{{util.translate('Have Shop?')}}
                                    </label>
                                    <br>
                                    <c-form-check [switch]="true">
                                        <input cFormCheckInput type="checkbox" [(ngModel)]="have_shop"
                                            [checked]="have_shop == 1? true:false" />
                                    </c-form-check>
                                </div>
                            </div>

                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-email">
                                        {{util.translate('Do you provide service at home?')}}
                                    </label>
                                    <br>
                                    <c-form-check [switch]="true">
                                        <input cFormCheckInput type="checkbox" [(ngModel)]="service_at_home"
                                            [checked]="service_at_home == 1? true:false" />
                                    </c-form-check>
                                </div>
                            </div>

                            <div class="col-lg-12" *ngIf="social != null && social != ''">
                                <div class="form-group"  style="display: flex;">
                                    <label class="form-control-label social-item" for="input-email" style="align-self: center;">
                                        {{util.translate('Social: ')}}
                                    </label>
                                    <a *ngIf="social.facebook != null && social.facebook != ''" target="_blank" [href]="social.facebook" class="social-item"><img src="assets/img/brand/facebook.png" style="width: 50px;height: 50px;"/></a>
                                    <a *ngIf="social.youtube != null && social.youtube != ''"  target="_blank" [href]="social.youtube" class="social-item"><img src="assets/img/brand/youtube.png" style="width: 50px;height: 50px;"/></a>
                                    <a *ngIf="social.instagram != null && social.instagram != ''"  target="_blank" [href]="social.instagram" class="social-item"><img src="assets/img/brand/instagram.jpg" style="width: 50px;height: 50px;"/></a>
                                    <a *ngIf="social.tiktok != null && social.tiktok != ''"  target="_blank" [href]="social.tiktok" class="social-item"><img src="assets/img/brand/tiktok.png" style="width: 50px;height: 50px;"/></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="createSalon()" *ngIf="action == 'create'">
                    {{util.translate('Save changes')}}
                </button>
                <button type="button" class="btn btn-primary" (click)="updateSalon()" *ngIf="action == 'update'">
                    {{util.translate('Save changes')}}
                </button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="myModal2.hide()">
                    {{util.translate('Close')}}
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div bsModal #imageZoomModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{zoomTitle}}</h4>
                <button type="button" class="close" (click)="imageZoomModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-lg-12" style="text-align: center;">
                    <img class="img-responsive" style="height: 500px;width: 500px; object-fit: cover;" [src]="zoomImage"
                        onError="this.src='assets/img/dummy.jpeg'"/>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary"
                    (click)="imageZoomModal.hide()">{{util.translate('Close')}}</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
