<!-- 
  Authors : cosonas (Rahul Jograna)
  Website : https://cosonas.com/
  App Name : Bunitas Management Full App Flutter
  This App Template Source code is licensed as per the
  terms found in the Website https://cosonas.com/license
  Copyright and Good Faith Purchasers © 2022-present cosonas.
 -->
<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
<div class="animated fadeIn">
    <div class="row">

        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    {{util.translate('All Orders')}}
                </div>
                <div class="card-body">

                    <div class="error_div" *ngIf="list?.length <= 0 && dummy?.length <= 0">
                        <label>{{util.translate('No Data Found..')}}</label>
                    </div>

                    <table class="table table-responsive-sm table-hover mb-0">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">{{util.translate('Id')}}</th>
                                <th scope="col"></th>
                                <th scope="col">{{util.translate('Freelancer')}}</th>
                                <th scope="col"></th>
                                <th scope="col">{{util.translate('User')}}</th>
                                <th scope="col">{{util.translate('Services')}}</th>
                                <th scope="col">{{util.translate('Grand Total')}}</th>
                                <th scope="col">{{util.translate('Status')}}</th>
                                <th scope="col">{{util.translate('Payment Method')}}</th>
                                <th scope="col">{{util.translate('Action')}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of dummy">
                                <td *ngFor="let item of [1,2,3,4,1,2,3,4,5,5,6]">
                                    <ngx-skeleton-loader count="1" appearance="line"></ngx-skeleton-loader>
                                </td>
                            </tr>
                            <tr
                                *ngFor="let item of list | paginate: {id:'pagin1', itemsPerPage: itemsPerPage, currentPage: page }">
                                <th scope="row">
                                    {{item.id}}
                                </th>
                                <td>
                                    <img class="img-responsive" style="height: 40px;width: 40px; object-fit: cover;"
                                        *ngIf="item && item.freelancerInfo && item.freelancerInfo.cover"
                                        [src]="api.imageUrl + item.freelancerInfo.cover"
                                        onError="this.src='assets/img/dummy.jpeg'">

                                    <img class="img-responsive" style="height: 40px;width: 40px; object-fit: cover;"
                                        *ngIf="item && item.salonInfo && item.salonInfo.cover"
                                        [src]="api.imageUrl + item.salonInfo.cover"
                                        onError="this.src='assets/img/dummy.jpeg'">
                                </td>
                                <td>
                                    <div *ngIf="item && item.freelancerInfo && item.freelancerInfo.cover">
                                        {{item.freelancerInfo.first_name +' '+ item.freelancerInfo.last_name}}
                                    </div>

                                    <div *ngIf="item && item.salonInfo && item.salonInfo.cover">
                                        {{item.salonInfo.name}}
                                    </div>
                                </td>
                                <td>
                                    <img class="img-responsive" style="height: 40px;width: 40px; object-fit: cover;"
                                        [src]="api.imageUrl + item.userInfo.cover"
                                        onError="this.src='assets/img/dummy.jpeg'">
                                </td>
                                <td>
                                    {{item.userInfo.first_name +' '+ item.userInfo.last_name}}
                                </td>
                                <td>
                                    <div class="cate_info">
                                        <span *ngFor="let cate of item.orders;let cateIndex = index">
                                            <p style="font-size: 10px;margin: 0px;"> {{cate.name}} <span
                                                    *ngIf="cateIndex !=item.orders.length - 1">,</span></p>

                                        </span>
                                    </div>
                                </td>
                                <td>
                                    <span *ngIf="util.cside =='left'">{{util.currecny}}
                                        {{item.grand_total}} </span>
                                    <span *ngIf="util.cside =='right'">{{item.grand_total}}
                                        {{util.currecny}}</span>
                                </td>
                                <td> {{orderStatusNames[item.status]}} </td>
                                <td> {{paymentName[item.paid_method]}} </td>
                                <td>
                                    <div class="d-flex align-items-center">

                                        <c-badge color="info" class="me-1 badge bg-info" (click)="viewData(item.id)">
                                            {{ util.translate('View')}}
                                        </c-badge>

                                    </div>
                                </td>
                            </tr>

                        </tbody>
                    </table>

                    <div class="table-tools" *ngIf="list?.length > 0" >
                        <div class="table-pagination">
                          <pagination-controls  class="custom-pagination" id="pagin1" (pageChange)="page = $event"></pagination-controls>
                          <input class="form-control page-number" [(ngModel)]="page" [ngModelOptions]="{standalone: true}"
                            [placeholder]="util.translate('Page')">
                        </div>
                        <select id="view_count" [(ngModel)]="itemsPerPage" name="view_count" class="form-select ng-valid ng-dirty ng-touched view-count ">
                            <option value="10" selected>10</option>
                            <option value="20">20</option>
                            <option value="50">50</option>
                        </select>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>